POSTGRES_USER=conheca_user
POSTGRES_PASSWORD=conheca_pass
POSTGRES_DB=conheca_development

RAILS_MASTER_KEY=sua_master_key_aqui
JWT_SECRET_KEY=seu_jwt_secret_aqui

VITE_API_BASE_URL=http://localhost:3000